.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   margin-top: 250px;

}
.btn{
    height: 50px;
   width: 50px;
   margin-left: 15px;
   margin-right: 15px;
   color:red;
   background-color: black;
   font-size: 15px;
   cursor: pointer;

}
span{

    font-size: 50px;
}